*.pkl
*.pyc
/jul/.venv
/jul/venv
*.pt
/jul/wandb

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyTorch / training
checkpoints/
**/checkpoints/
*.pt
*.pth
*.ckpt

# Caches
.cache/
.ipynb_checkpoints/

# OS
.DS_Store
