torch>=2.0.0
transformers>=4.40.0
accelerate>=0.27.0
peft>=0.10.0
bitsandbytes>=0.43.0
torch-geometric>=2.3.0
pandas>=1.5.0
tqdm>=4.65.0
einops>=0.7.0
sentencepiece>=0.2.0
pyarrow>=14.0.0
wandb
rdkit-pypi>=2023.9.5
bitsandbytes>=0.43.0
bert-score
nltk